# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment and output directories
output/
checkpoints/
wandb/
Pretrained_MoedKLIP/data_file/*

# Ignore other unwanted files
*.log
*.out
*.DS_Store
*.zip
build/
*.o
*.so
*.egg-info
*.cu
*.cuh
*.h
*.cpp
*.egg